/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
main {
  height: 800px;
}

i {
  font-size: 30px;
}

.boton:hover {
  cursor: pointer;
  background-color: #4e4a4a;
}

.selected-dark {
  background-color: rgba(255, 253, 253, 0.5);
  padding: 5px 10px;
  border-radius: 10%;
}

.selected-white {
  background-color: rgba(68, 67, 67, 0.5);
  padding: 5px 10px;
  border-radius: 10%;
}

.white {
  background-color: rgb(227, 227, 227);
}

.task-container-dark {
  background: #4e4a4a;
}

.task-container-white {
  background: #e7e7e7;
}

.background {
  background-color: #dfe0e0;
}

.container-task {
  overflow-y: auto; /* Solo activa el scroll vertical */
  overflow-x: hidden;
  height: 600px;
}

.task:hover {
  cursor: pointer;
}

.task-icon-red {
  box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.6);
  border-radius: 50%;
}

.task-icon-green {
  box-shadow: 0 0 15px 5px rgba(9, 255, 0, 0.6);
  border-radius: 50%;
}

.delete-icon {
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.7), 0 0 10px rgba(255, 0, 0, 0.5),
    0 0 15px rgba(255, 0, 0, 0.8);
}

::-webkit-scrollbar {
  width: 20px;
  background-color: #c1c1c1;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(133, 133, 133, 0.5);
  border-radius: 5px;
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
